<app-navbar></app-navbar>

<div class="container" style="padding-top: 5%;">
    
        <main>
            <!--MDB Tables-->
            <div class="container mt-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <!--Table-->
                        <table class="table table-hover">
                            <!--Table head-->
                            <thead class="mdb-color darken-3">
                                <tr class="text-white">
                                    <th>#</th>
                                    <th>Location</th>
                                    <th>Technician's Name</th>
                                    <th>Technician's Cell Number</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    <th>Comment</th>
                                </tr>
                            </thead>
                            <!--Table head-->
                            <!--Table body-->
                            <tbody>
                                <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                            </tbody>
                            <!--Table body-->
                        </table>
                        <!--Table-->
                    </div>
                </div>
    
            </div>
            <!--MDB Tables-->
          
        </main>
</div>
